*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.app{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url('/assets/home.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.ancient-container{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: space-around;
    margin:40px 0;
}

.ancient-card{
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 260px;
    border-radius: 15px;
    cursor: pointer;
}

.active{
    border: 7px solid rgb(92, 112, 153);
    transform: scale(1.25);
    box-shadow: 10px 5px 5px rgb(38, 53, 83);
}

.difficulty-container{
    display: flex;
    justify-content: space-around;
    margin:20px 0;
}

.difficulty{
    display: inline-block;
    cursor: pointer;
}

.deck-container{
    width: 50%;
    display: flex;
    flex-shrink: 0;
    justify-content: space-around;
    margin:20px 0;
    position: relative;
}

.shuffle-button{
    cursor: pointer;
}

.deck, .last-card{
    width: 180px;
    height: 265px;
    background-repeat: no-repeat;
    background-size: contain;
}

.bottom{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.deck{
    background-image: url('./assets/mythicCardBackground.png');
    cursor: pointer;
}

.tracker, .stage-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: aliceblue;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.dots-container{
    display: flex;
    gap: 10px;
}

.dot{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.brown{
    background-color: brown;
}